# Export-Third-Parties

## Token genaration and api management

In [209]:
#@title Import modules
import requests, base64
import re
import json as js
import pandas as pd
from io import StringIO
import numpy as np
import csv
import copy

In [210]:
#@title Token generation
#@markdown This code calls the token end point with client-id and secret

def login():
    cfg = pd.read_csv("/content/config.csv")
    client_id = cfg['client_id'].values[0]
    client_secret = cfg['client_secret'].values[0]
    token_endpoint = cfg['token_url'].values[0]
    
    data = {'grant_type': 'client_credentials'}
    
    userpass = client_id + ':' + client_secret
    encoded_u = base64.b64encode(userpass.encode()).decode()
    auth_header = "Basic " + encoded_u
    headers = {
        'Content-Type': 'application/x-www-form-urlencoded',
        'Authorization': auth_header
    }

    r = requests.post(token_endpoint, headers=headers, data=data)
    response = r.json()

    if (r.status_code == 200):
        token = response['access_token']
        # Put token in the session
        print(token)
    return token

In [211]:
#@title Get Results 
#@markdown This code calls the end point to retrieve data
def get_results(token, request):
    try:
        headers = {"Authorization": "Bearer " + token}
        cfg = pd.read_csv("config.csv")
        base_url = cfg['base_url'].values[0]
        result = requests.get(base_url + request, headers=headers)
        if 200 <= result.status_code < 300:
          return result.text
        else:
          print(result.text)
          return  
    except:
        return

In [212]:
#@title Post results  
#@markdown This code allows to POST data in payload or as a stream
def post_results(token, request, payload, files):
    try:
        headers = {"Authorization": "Bearer " + token}
        cfg = pd.read_csv("config.csv")
        base_url = cfg['base_url'].values[0]
        result = requests.post(base_url + request, headers=headers, data=payload, files = files)
        if 200 <= result.status_code < 300:
          json_data = js.loads(result.text)
          return json_data
        else:
          print(result.text)
          return
    except:
        return

In [213]:
#@title Launch report
#@markdown Code to manage report launch and retrieval of data in one function
#@markdown It launchs the task and waits until completion
def run_report(token, report):
    try:
        result = post_results(token, '/v1/process-templates/'+ report +'/run',"","")
        taskId = result[0]['taskId']
        while True:
            result = get_results(token, '/v1/process-templates/'+ taskId +'/status')
            if result == "Pending" or result == "In progress":
                print ('.', end='')
            else:
                print ('\n' + result)
            if result == "Warning" or result == "Complete" or result == "Error":
                break
                time.sleep(1)
        print('\n')
        result = get_results(token, '/v1/process-templates/'+ report + '/files?taskId=' + taskId )
        #print(result)
        return result
    except:
        return

In [214]:
#@title Remove empty values in json

def remove_empty_elements(d):
    """recursively remove empty lists, empty dicts, or None elements from a dictionary"""

    def empty(x):
        return x is None or x == {} or x == []

    if not isinstance(d, (dict, list)):
        return d
    elif isinstance(d, list):
        return [v for v in (remove_empty_elements(v) for v in d) if not empty(v)]
    else:
        return {k: v for k, v in ((k, remove_empty_elements(v)) for k, v in d.items()) if not empty(v)}

## Connection

In [215]:
#@title <font color='lime'>Connect</font>
print('token:')
token = login()

token:
46904c7f-2165-4620-b85d-9c6bc4e0fb2d

## Exporting third-parties

In [225]:
#@title <font color='lime'>Launch report on third-parties</font>

res = run_report(token,'SU11')
buffer = StringIO(res)
df = pd.read_csv (buffer,dtype=object, delimiter = ";", usecols=[1,2,3,5,6,8,10,17,30,32,36,37,38,61,69,70,72,73,78], names = ["Data type","Code","Name","Creditor","Debtor","Other identifier type","Non resident","Country code","Account Country code","Account Name","Account Currency","Account ID type","Account ID","Account used by","Limit currency","Transaction entry limit","Account nature","Transaction max. number","Additional correspondent.One-time correspondent"],header=None, skiprows=[0])
pd.set_option('display.max_colwidth', None)
#@markdown ### Format for retrieving report:
csv = True #@param {type:"boolean"}
json = False #@param {type:"boolean"}
df2 = copy.deepcopy(df)
if csv:
  df.replace(np.nan, '-', inplace = True)
  display(df)
if json:
  result = df2.to_json(orient='records')
  parsed = js.loads(result, parse_int=int)
  parsed = remove_empty_elements(parsed)
  print(js.dumps(parsed, indent=2, ensure_ascii=True) )

........
Complete

   Data type  ... Additional correspondent.One-time correspondent
0          T  ...                                               -
1          A  ...                                               0
2          T  ...                                               -
3          A  ...                                               0
4          T  ...                                               -
5          T  ...                                               -
6          T  ...                                               -
7          T  ...                                               -
8          T  ...                                               -
9          T  ...                                               -
10         T  ...                                               -
11         T  ...                                               -
12         T  ...                                               -
13         T  ...                                               -
14         T  ...                                               -
15         T  ...                                               -
16         T  ...                                               -
17         T  ...                                               -
18         T  ...                                               -
19         T  ...                                               -
20         T  ...                                               -
21         T  ...                                               -
22         T  ...                                               -
23         A  ...                                               0
24         T  ...                                               -
25         A  ...                                               0
26         T  ...                                               -

[27 rows x 19 columns]